@model List<CollectionViewModel>
<div class="col-2">
    <h5>Коллекции принтов:</h5>
    @foreach (var item in Model)
    {
        <a class="btn" asp-area="" asp-controller="Product" asp-action="Collection" asp-route-Id="@item.Id"><h6 class="text-black">@item.Name</h6></a>
        <br />
    }
</div>