<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - VseTShirts - <a asp-area="" asp-controller="Home" asp-action="Index">Мы лучше, чем VseMayki!!</a>
    </div>
</footer>