@model UserViewModel

<div class="col-2">
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Корзина</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Favorite"
            asp-action="Index">Избранное</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Мои заказы</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Мои отзывы</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Мои вопросы</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Способы оплаты</a>
    </div>
    <div class="btn border-dark border-1 rounded">
        <a
            class="text-black"
            asp-area=""
            asp-controller="Cart"
            asp-action="Index">Мои адреса</a>
    </div>
</div>