@model ChangePasswordViewModel
<form method="post">
    <div class="text-center border-primary">
         <div class="validation btn text-danger" asp-validation-summary="All"></div>
    </div>
    <div>
        <label asp-for="NewPassword">Новый пароль</label>
        <input class="col-3" asp-for="NewPassword" />
        <div><span asp-validation-for="NewPassword"></span></div>
    </div>
    <div>
        <input name="OldPassword" type="hidden" value="@Model.OldPassword" />
        <input name="Email" type="hidden" value="@Model.Email" />
    </div>
    <div>
        <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Изменить пароль</button>
    </div>
</form>