@model RegisterModel

<form method="post">
    <div class="col text-center">
    <div class="validation" asp-validation-summary="All"></div>

     <div>
            <label asp-for="Email" >Email:</label>
            <br />
            <input class="col-3" asp-for="Email" />
            <div><span asp-validation-for="Email"></span></div>
     </div>

    <div>
         <label asp-for="UserName"><h5>Логин:</h5></label>
           <br />
         <input class="col-3" asp-for="UserName" />
         <div><span asp-validation-for="UserName"></span></div>
    </div>

     <div>
        <label asp-for="Password"><h5> Пароль:</h5></label>
          <br />
        <input class="col-3" type="password" asp-for="Password" />
        <div><span asp-validation-for="Password"></span></div>
    </div>

     <div>
         <label asp-for="ConfirmPassword"><h5>Подтверждение пароля:</h5></label>
            <br />
         <input class="col-3" type="password" asp-for="ConfirmPassword" />
         <div><span asp-validation-for="ConfirmPassword"></span></div>
     </div>

     <div>
         <label asp-for="Name"><h5>ФИО:</h5></label>
            <br />
            <input class="col-3" asp-for="Name"/>
            <div><span asp-validation-for="Name"></span></div>
     </div>

     <dev>
            <label asp-for="PhoneNumber"><h5>Номер телефона:</h5></label>
            <br />
            <input class="col-3" asp-for="PhoneNumber" />
            <div><span asp-validation-for="PhoneNumber"></span></div>
     </dev>


     <div>
        <button class="btn-success col-3" type="submit" name="submit" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</button>
     </div>
</div>
</form>